{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>MTurk Manager</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
        <link rel="stylesheet" href="{% static 'mturk_manager/js/vue/dist/index.css' %}" type="text/css" media="screen" />
    </head>
    <body>
        <div id="app"></div>
        <script id="config" type="application/json">
            {{ json_config|safe }}
        </script>
        <script src="{% static 'mturk_manager/js/vue/dist/index.js' %}"></script>
    </body>
</html>