{% extends "mturk_manager/base.html" %}

{% block body %}
<div class="container-fluid" id="page_create">
	<div class="row">
		<div class="col d-flex justify-content-center">
			<form method="post">
				{% csrf_token %}
				<h1>New project</h1>
				{% if success == False %}
					<div class="alert alert-danger" role="alert">
						Error
					</div>
				{% endif %}

				<fieldset>
					<!-- <legend>General</legend> -->
					<div class="form-group">
						<div class="input-group">
							<div class="input-group-prepend">
								<span class="input-group-text">Name</span>
							</div>
							<input type="text" class="form-control" name="name" maxlength="200" placeholder="Name of the project">
						</div>
					</div>

					<div class="form-row form-group">
						<div class="col input-group">
							<div class="input-group-prepend">
								<label class="input-group-text">Account</label>
							</div>
							<select class="custom-select" name="name_account_mturk">
							{% for account_mturk in queryset_account_mturk %}
					    		<option value="{{ account_mturk.name }}">{{ account_mturk.name }}</option>
							{% endfor %}
							</select>
						</div>
					</div>
				</fieldset>
				
				<button type="submit" class="btn btn-primary">Create</button>
			</form>
		</div>
	</div>
</div>
{% endblock %}