{% extends "mturk_manager/base.html" %}

{% block body %}
<div class="container-fluid" id="page_create">
	<div class="row">
		<div class="col d-flex justify-content-center">
			<form method="post">
				{% csrf_token %}
				
				<h1>New project</h1>
				{% if success == False %}
					<div class="alert alert-danger" role="alert">
						Error
					</div>
				{% endif %}

				<fieldset>
					<!-- <legend>General</legend> -->
					<div class="form-group">
						<div class="input-group">
							<div class="input-group-prepend">
								<label for="{{ form.name.id_for_label }}" class="input-group-text">Name</label>
							</div>
							{{ form.name }}
						</div>
					</div>
					<div class="form-row form-group">
						<div class="col input-group">
							<div class="input-group-prepend">
								<label for="{{ form.account_mturk.id_for_label }}" class="input-group-text">Account</label>
							</div>
							{{ form.account_mturk }}
						</div>
					</div>
				</fieldset>
				
				<button type="submit" class="btn btn-primary">Create</button>
			</form>
		</div>
	</div>
</div>
{% endblock %}