{% extends "mturk_manager/base.html" %}

{% block body %}
<div class="container-fluid" id="page_create">
	<div class="row">
		<div class="col d-flex justify-content-center">
			<form method="post" enctype="multipart/form-data">
				{% csrf_token %}
				<h1>New project</h1>
				{% if success == False %}
					<div class="alert alert-danger" role="alert">
						Error
					</div>
				{% endif %}

				<fieldset class="form-group">
					<legend>General</legend>
					<label class="col-form-label" for="input_name_project">Name</label>
					<input type="text" class="form-control" name="name" maxlength="200" id="input_name_project" placeholder="Name of the project">
					<label class="col-form-label" for="input_name_account">Account</label><br>
					<select class="custom-select" id="input_name_account" name="name_account_mturk">
				    {% for account_mturk in queryset_account_mturk %}
					    <option value="{{ account_mturk.name }}">{{ account_mturk.name }}</option>
				    {% endfor %}
					</select>
				</fieldset>

				<fieldset class="form-group">
					<legend>Template</legend>
					<input type="text" class="form-control mb-1" name="html_template" placeholder="paste the HTML template here">
					<label class="custom-file">
						<input type="file" id="file2" name="file_template" class="custom-file-input">
						<span class="custom-file-control">or choose a file</span>
					</label>
				</fieldset>
				
				<button type="submit" class="btn btn-primary">Create</button>
			</form>
		</div>
	</div>
</div>
{% endblock %}