{% extends "mturk_manager/base.html" %}
{% load static %}

{% block name_project %}Documentation{% endblock %}

{% block tag_body %}
<body data-spy="scroll" data-target="#navigation_documentation">
{% endblock %}

{% block body %}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
<link rel="stylesheet" href="{% static 'mturk_manager/css/sublime.css' %}">

<div class="container-fluid" id="page_documentation">
	<div class="row mt-3">
		<div class="col-9">
            <div class="alert alert-info" role="alert">
                This documentation describes the usage of the MTurk Manager. To get information about the installation please refer to the <a href="https://github.com/webis-de/mturk-manager" class="alert-link">GitHub-page</a>.
            </div>

            <h1 id="link_account_mturk">MTurk account</h1>
            <p>
                Each project has to be associated with one valid MTurk account to be able to use the MTurk API.
                Every MTurk account consists of a name and the security credentials which can be managed on the <a href="https://console.aws.amazon.com/iam/home?#/security_credential">AWS</a> page.  
            </p>
            <p>
                To add a MTurk account visit the <a href="{% url 'mturk_manager:settings' %}">settings page</a>
            </p>

            <h1 id="link_project">MTurk Manager project</h1>
            <p>
                A MTurk Manager project is conceptually almost the same as a MTurk project. You are able to manage settings like title, description, reward and many more. Additionally each project can hold multiple hit templates (hereafter called <b>worker templates</b>) and assignment templates (hereafter called <b>requester templates</b>) to create custom views for the results.
            </p>
            <p>
                To create a new project visit <a href="{% url 'mturk_manager:create' %}">this page</a> and fill in an unique project name and select a MTurk account.
            </p>
            <p>
                On the project page you are able to set default settings for convenience reason. These settings will be used in the batch creation form and can be overridden for this specific batch.
            </p>

            <h1 id="link_create_batch">Create batch</h1>
            <p>
                This <a href="https://blog.mturk.com/using-csv-files-to-create-multiple-hits-in-the-requester-ui-22a25ec563dc">blog entry</a> describes the usage of csv files in the requester user interface of MTurk but it can also be applied to this tool.
            </p>
            
            <h1 id="link_templates_worker">Worker templates</h1>
            <p>
        		A worker template defines how a hit will look to the workers.
        		You can get the HTML template from the <a href="https://docs.aws.amazon.com/AWSMechTurk/latest/AWSMturkAPI/ApiReference_HTMLQuestionArticle.html#ApiReference_HTMLQuestionArticle-example">MTurk reference</a> or directly by clicking on the button below.
        	</p>
        	<p>
        		<button type="button" class="btn btn-dark btn-sm" data-template="{{ templates.template_html }}" data-toggle="modal" data-target="#modal_show_html">Show worker template</button>
            </p>
            <p>
            	You must not remove or change the JavaScript related parts and the <code>form</code> properties. Otherwise you are free to design the hit as you wish; You can import JavaScript and CSS scripts, images and other assets from external sources as usual.
            </p>
            <p>
                Values provided in the <a href="#link_create_batch">csv file</a> to create a batch can be used in the templates by including placeholders into the template. The structure of a placeholder looks like the following: <code>${column_name}</code>. In this example the value of the csv column named 'column_name' will be replaced with the placeholder.  
            </p>

            <h1 id="link_templates_requester">Requester templates</h1>
            <p>
                Requester templates are the real benefit you get using the MTurk Manager.
                They allow you to design your own view for each assignment in a batch to get a better understanding of the results than looking at a csv file or a table.
            </p>
            <p>
                You <b>have to</b> design a requester assignment template for each worker template. This template is responsible to show the results of the assignment and to provide the approve/reject buttons for the corresponding assignment.
                You <b>may</b> also design a requester hit layout for each worker template. This hit layout is useful to combine information displayed for each assignment in order that you don't show the same information more than once.
            </p>
            <p>
                To better understand the difference between requester assignment templates and requester hit templates consider the following example. You created a batch of hits where each hit shows an image and the workers have to judge the image by its beauty.
                If you specify a requester assignment template only the image would be displayed for every assignment in each hit. If you set the number of assignments per hit to a high count you would see the same image many times.
                Its better to add the image to the requester hit template and design the requester assignment templates to only show the judgment of the workers. In that way you'll see the image only once followed by all the judgment by the workers.  
            </p>

            <h2 id="link_templates_requester_assignemnt">Requester assignment templates</h2>
            <p>
                The requester assignment template is used to design the results of the workers.
            </p>
            <p>
                Since a requester assignment template is associated to a worker template it has access not only to the values of the csv values used to create the hit but also to the results of the workers.
                The values of the corresponding row in the csv file are available in the <code>question</code> JavaScript variable and the results of the worker are stored in the <code>answer</code> JavaScript variable.
                To inject the values of the <code>question</code> and <code>answer</code> variables into your template you have access to the <code>assignment_wrapper</code> variable which wraps the current assignment. You can use the jQuery <code>find()</code> function to inject the values into any tag inside of the <code>assignment_wrapper</code>.
            </p>
            <p>
                The input elements to approve/reject the assignments are injected into the tag containing the <code>data-inject_input_forms</code>. In that way you are able to determine the location of the input elements. If you forget to set the <code>data-inject_input_forms</code> attribute you can not approve/reject the assignment.
                Click the following button to see an example assignment requester template.
            </p>
            <p>
                <button type="button" class="btn btn-dark btn-sm" data-template="{{ templates.template_html_requester_assignment_template_example }}" data-toggle="modal" data-target="#modal_show_html">Show example requester assignment template</button>
            </p>
            <div class="alert alert-warning" role="alert">
              You have to use the <code>var</code> keyword to declare custom JavaScript variables!<br>
              The <code>let</code> and <code>const</code> keywords are <b>not</b> allowed because the templates may be inserted multiple times into the page and therefore the variables would be redeclared which is forbidden using the <code>let</code> and <code>const</code> keywords.
            </div>

            <h2 id="link_templates_requester_hit">Requester hit templates</h2>
            <p>
                If you do not specify a requester hit template the following the default template will be used instead.
            </p>
            <p>
                <button type="button" class="btn btn-dark btn-sm" data-template="{{ templates.template_html_requester_hit_template_default }}" data-toggle="modal" data-target="#modal_show_html">Show default requester hit template</button>
            </p>
            <p>
                If you want to create your own requester hit template you'll have to specify with the <code>data-inject_assingments</code> attribute where the assignments should be inserted. 
            </p>
            <p>
                You have access to the JavaScript variable <code>question</code> which is a object containing the csv columns as property keys and values of the corresponding row as property values.  
            </p>
            <p>
                Since multiple requester hit templates may be shown you are not allowed to use <code>id</code> attributes in your templates to prevent multiple HTML tags with the same id on the same page.
                Instead you have access to the <code>hit_wrapper</code> JavaScript variable which wraps the current hit and can be used together with the <code>find()</code> function from jQuery to find any tag inside of your template.
                Click the following button to see an example hit requester template.
            </p>
            <p>
                <button type="button" class="btn btn-dark btn-sm" data-template="{{ templates.template_html_requester_hit_template_example }}" data-toggle="modal" data-target="#modal_show_html">Show example requester hit template</button>
            </p>
            <div class="alert alert-warning" role="alert">
              You have to use the <code>var</code> keyword to declare custom JavaScript variables!<br>
              The <code>let</code> and <code>const</code> keywords are <b>not</b> allowed because the templates may be inserted multiple times into the page and therefore the variables would be redeclared which is forbidden using the <code>let</code> and <code>const</code> keywords.
            </div>

            <h1 id="link_location_savefiles">Save file location</h1>
            <p>
                There are two different types of saved files for your MTurk Manager server.
                The database named <code>db.sqlite3</code> and stored in <code>&#x3C;mturk_manager&#x3E;/mturk/</code> holds all the necessary information and settings about your projects. The directory <code>&#x3C;mturk_manager&#x3E;/settings/</code> contains one config file for each project holding informations used by the integrated <a href="https://github.com/webis-de/corpus-viewer">Corpus-Viewer</a>.
            </p>
            <p>
                If you want to change these locations put a file named <code>mturk_settings.ini</code> one directory <b>above</b> your <code>&#x3C;mturk_manager&#x3E;</code> directory.
                The file defines new paths for the database and the config files. An example for putting the save files on the same level as your <code>&#x3C;mturk_manager&#x3E;</code> directory can be found by pressing the button below.
            </p>
            <p>
                <button type="button" class="btn btn-dark btn-sm" data-template="{{ templates.mturk_settings }}" data-type="ini" data-toggle="modal" data-target="#modal_show_html">Show example mturk_settings.ini</button>
            </p>
            <p>
                If you already created some projects just copy the (potentially renamed) database and the config files into the specified locations. 
                <b>Instead</b>, if you have not created any projects yet simply run the <code>setup.sh</code> again.
            </p>
        </div>
        <div class="col-3" id="navigation_documentation">
            <ul class="nav flex-column formats_scrollspy">
                <li class="nav-item">
                    <a class="nav-link" href="#link_account_mturk">MTurk account</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#link_project">MTurk Manager project</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#link_create_batch">Create batch</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#link_templates_worker">Worker templates</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#link_templates_requester">Requester templates</a>
                </li>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="#link_templates_requester_assignemnt">Requester assignment templates</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#link_templates_requester_hit">Requester hit templates</a>
                    </li>
                </ul>
                <li class="nav-item">
                    <a class="nav-link" href="#link_location_savefiles">Save file location</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" id="modal_show_html">
	<div class="modal-dialog modal-lg modal-xxl">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">HTML</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<pre><code class="html"></code></pre>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block javascript %}
	{{ block.super }}
    <script src="{% static 'mturk_manager/js/highlight.pack.js' %}"></script>
	<script src="{% static 'mturk_manager/js/main.js' %}"></script>
{% endblock %}
