{% extends "mturk_manager/base.html" %}
{% load static %}

{% block name_project %}Documentation{% endblock %}

{% block tag_body %}
<body data-spy="scroll" data-target="#navigation_documentation">
{% endblock %}

{% block body %}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
<link rel="stylesheet" href="{% static 'mturk_manager/css/sublime.css' %}">

<div class="container-fluid" id="page_documentation">
	<div class="row mt-3">
		<div class="col-9">
            <div class="alert alert-info" role="alert">
                This documentation describes the usage of the MTurk Manager. To get information about the installation please refer to the <a href="https://github.com/webis-de/mturk-manager" class="alert-link">GitHub-page</a>.
            </div>

            <h1 id="link_account_mturk">MTurk account</h1>
            <p>
                Each project has to be associated with one valid MTurk account to be able to use the MTurk API.
                Every MTurk account consists of a name and the security credentials which can be managed on the <a href="https://console.aws.amazon.com/iam/home?#/security_credential">AWS</a> page.  
            </p>
            <p>
                To add a MTurk account visit the <a href="{% url 'mturk_manager:settings' %}">settings page</a>
            </p>

            <h1 id="link_project">Mturk Manager project</h1>
            <p>
                A Mturk Manager project is conceptually almost the same as a MTurk project. You are able to manage settings like title, description, reward and many more. Additionally each project can hold multiple hit templates (hereafter called "worker templates") and assignment templates (hereafter called "requester templates") to create custom views for the results.
            </p>
            <p>
                To 
            </p>

            <h1 id="link_create_batch">Create batch</h1>
            
            <h1 id="link_templates_worker">Worker templates</h1>
            <p>
        		A worker template defines how a hit will look to the workers.
        		You can get the html template from the <a href="https://docs.aws.amazon.com/AWSMechTurk/latest/AWSMturkAPI/ApiReference_HTMLQuestionArticle.html#ApiReference_HTMLQuestionArticle-example">MTurk reference</a> or directly by clicking on the button below.
        	</p>
        	<p>
        		<button type="button" class="btn btn-dark btn-sm" data-template="{{ templates.template_html }}" data-toggle="modal" data-target="#modal_show_html">Show template</button>
            </p>
            <p>
            	You must not remove or change the javascript related parts and the <code>form</code> properties. Otherwise you are free to design the hit as you wish; You can import javascript and css scripts, images and other assets from external sources as usual.
            </p>

            <h1 id="link_templates_requester">Requester templates</h1>
            <h2 id="link_templates_requester_assignemnt">Requester assignment templates</h2>
            <h2 id="link_templates_requester_hit">Requester hit templates</h2>
        </div>
        <div class="col-3" id="navigation_documentation">
            <ul class="nav flex-column formats_scrollspy">
                <li class="nav-item">
                    <a class="nav-link" href="#link_account_mturk">MTurk account</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#link_project">MTurk Manager project</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#link_create_batch">Create batch</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#link_templates_worker">Worker templates</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#link_templates_requester">Requester templates</a>
                </li>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="#link_templates_requester_assignemnt">Requester assignment templates</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#link_templates_requester_hit">Requester hit templates</a>
                    </li>
                </ul>
            </ul>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" id="modal_show_html">
	<div class="modal-dialog modal-lg modal-xxl">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">HTML</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<pre><code class="html"></code></pre>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block javascript %}
	{{ block.super }}
	<script src="{% static 'mturk_manager/js/highlight.pack.js' %}"></script>
{% endblock %}