{% extends "mturk_manager/base.html" %}

{% block name_project %}
{{ db_obj_project.name }}
{% endblock %}

{% block body %}
<div class="container-fluid" id="page_project">
	<div class="row">
		<div class="col pt-3">
			Account: {{ db_obj_project.fk_account_mturk.name }}
			<hr>
			<ul>
				<li>number of batches: {{ stats_total.count_batches }}</li>
				<li>number of hits: {{ stats_total.count_hits }}</li>
				<li>number of assignments: {{ stats_total.count_assignments }} (new: {{ stats_new.count_assignments }})</li>
			</ul>
			<form method="post">
				{% csrf_token %}
				<button type="submit" name="task" value="synchronize_database" class="btn btn-primary">Synchronize with MTurk</button>
			</form>
			<a href="{% url 'viewer:index' db_obj_project.name %}">View Assignments</a>
			<hr>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal_create_batch">Create batch</button>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-6">
			<form method="post" enctype="multipart/form-data">
				{% csrf_token %}
				<fieldset class="form-group">
					<legend>Update settings</legend>
					<div class="form-row form-group">
						<div class="col">
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text">Title</span>
								</div>
								<input type="text" class="form-control" name="title" value="{{ db_obj_project.title }}">
							</div>
						</div>
					</div>
					<div class="form-row form-group">
						<div class="col">
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text">Description</span>
								</div>
								<input type="text" class="form-control" name="description" value="{{ db_obj_project.description }}">
							</div>
						</div>
					</div>
					<div class="form-row form-group">
						<div class="col">
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text">Reward</span>
								</div>
								<input type="number" class="form-control" name="reward" step="0.01" value="{{ db_obj_project.reward }}">
								<div class="input-group-append">
									<span class="input-group-text">$</span>
								</div>
							</div>
						</div>
						<div class="col">
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text">Lifetime</span>
								</div>
								<input type="number" class="form-control" name="lifetime" value="{{ db_obj_project.lifetime }}">
								<div class="input-group-append">
									<span class="input-group-text">s</span>
								</div>
							</div>
						</div>
						<div class="col">
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text">Duration</span>
								</div>
								<input type="number" class="form-control" name="duration" value="{{ db_obj_project.duration }}">
								<div class="input-group-append">
									<span class="input-group-text">s</span>
								</div>
							</div>
						</div>
					</div>
					<div class="form-row form-group">
						<div class="col input-group">
							<div class="input-group-prepend">
								<label class="input-group-text">Default template</label>
							</div>
							<select class="custom-select" name="template_main">
								<option value="">please select a template</option>
							{% for template in db_obj_project.templates.all %}
							{% if template.is_active %}
								<option value="{{ template.id }}" {% if template ==  db_obj_project.fk_template_main %}selected{% endif %}>{{ template.name }}</option>
							{% endif %}
							{% endfor %}
							</select>
						</div>
						<div class="col">
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text">Number of assignments</span>
								</div>
								<input type="number" class="form-control" name="count_assignments" value="{{ db_obj_project.count_assignments }}">
							</div>
						</div>
					</div>
					<div class="form-row form-group">
						<div class="col">
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text">Keywords (comma-separated)</span>
								</div>
								<input type="text" class="form-control" name="keywords" value="{{ db_obj_project.keywords }}">
							</div>
						</div>
					</div>
					<div class="form-row form-group">
						<div class="col input-group">
							<div class="input-group-prepend">
								<label class="input-group-text">Default assignment template</label>
							</div>
							<select class="custom-select" name="template_assignment_main">
								<option value="">please select a template</option>
							{% for template in db_obj_project.templates_assignment.all %}
							{% if template.is_active %}
								<option value="{{ template.id }}" {% if template ==  db_obj_project.fk_template_assignment_main %}selected{% endif %}>{{ template.name }}</option>
							{% endif %}
							{% endfor %}
							</select>
						</div>
					</div>
					<button type="submit" name="task" value="update_settings" class="btn btn-primary">Update</button>
				</fieldset>
			</form>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-6">
			<form method="post">
				{% csrf_token %}
				<fieldset>
					<legend>Manage templates</legend>
					<table class="table table-sm">
						<thead>
							<tr>
								<th>Selection</th>
								<th>Name</th>
								<th>Frame height</th>
								<th>Assignment template</th>
								<th>Update</th>
							</tr>
						</thead>
						<tbody>
						{% for template in db_obj_project.templates.all %}
						{% if template.is_active %}
							<tr {% if template ==  db_obj_project.fk_template_main %}class="table-active"{% endif %}>
								<td>
									<div class="custom-control custom-checkbox">
										<input type="checkbox" name="templates" value="{{ template.id }}" id="checkbox_manage_templates_template_{{ template.id }}" class="custom-control-input">
										<label class="custom-control-label" for="checkbox_manage_templates_template_{{ template.id }}"></label>
									</div>
								</td>
								<td>
									{{ template.name }}
								</td>
								<td>
									{{ template.height_frame }}
								</td>
								<td>
									{{ template.fk_template_assignment.name }}
								</td>
								<td>
									<button type="button" class="btn btn-primary btn-sm" data-id="{{ template.id }}" data-name="{{ template.name }}" data-height_frame="{{ template.height_frame }}" data-id_template_assignment="{{ template.fk_template_assignment.id }}" data-toggle="modal" data-target="#modal_update_template">Update</button>
								</td>
							</tr>
						{% endif %}
						{% endfor %}
						</tbody>
					</table>
					<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal_add_template">Add template</button>
					{% if db_obj_project.templates.count > 0 %}
					<button type="submit" name="task" value="delete_templates" class="btn btn-danger">Delete selected</button>
					{% endif %}
				</fieldset>
			</form>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-6">
			<form method="post">
				{% csrf_token %}
				<fieldset>
					<legend>Manage assignment templates</legend>
					<table class="table table-sm">
						<thead>
							<tr>
								<th>Selection</th>
								<th>Name</th>
								<th>Update</th>
							</tr>
						</thead>
						<tbody>
							{% for template in db_obj_project.templates_assignment.all %}
							{% if template.is_active %}
							<tr {% if template ==  db_obj_project.fk_template_assignment_main %}class="table-active"{% endif %}>
								<td>
									<div class="custom-control custom-checkbox">
										<input type="checkbox" name="templates" value="{{ template.id }}" id="checkbox_manage_templates_assignment_template_{{ template.id }}" class="custom-control-input">
										<label class="custom-control-label" for="checkbox_manage_templates_assignment_template_{{ template.id }}"></label>
									</div>
								</td>
								<td>
									{{ template.name }}
								</td>
								<td>
									<button type="button" class="btn btn-primary btn-sm" data-id="{{ template.id }}" data-name="{{ template.name }}" data-toggle="modal" data-target="#modal_update_template_assignment">Update</button>
								</td>
							</tr>
							{% endif %}
							{% endfor %}
						</tbody>
					</table>
					<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal_add_template_assignment">Add template</button>
					{% if db_obj_project.templates_assignment.count > 0 %}
					<button type="submit" name="task" value="delete_templates_assignment" class="btn btn-danger">Delete selected</button>
					{% endif %}
				</fieldset>
			</form>
		</div>
	</div>
	<hr>
	<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal_delete_project">Delete project</button>
</div>

<div class="modal fade" tabindex="-1" id="modal_delete_project">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Do you really want to delete this project?</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<form method="post" enctype="multipart/form-data">
				{% csrf_token %}
				<div class="modal-footer">
					<button type="submit" name="task" value="delete_project" class="btn btn-danger">Delete</button>
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="modal fade" tabindex="-1" id="modal_create_batch">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Create batch</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<form method="post" enctype="multipart/form-data">
				<div class="modal-body">
					{% csrf_token %}
					<div class="form-group">
						<div class="input-group">
							<div class="input-group-prepend">
								<span class="input-group-text">Name</span>
							</div>
							<input type="text" class="form-control" name="name" maxlength="200" placeholder="Name of the batch">
						</div>
					</div>
					<div class="form-group">
						<div class="input-group">
						  	<div class="input-group-prepend">
					    		<span class="input-group-text">CSV file</span>
						  	</div>
							<label class="custom-file">
								<input type="file" name="file_csv" class="custom-file-input">
								<span class="custom-file-label"></span>
							</label>
						</div>
					</div>
					<hr>
					<div class="form-row form-group">
						<div class="col">
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text">Title</span>
								</div>
								<input type="text" class="form-control" name="title" value="{{ db_obj_project.title }}">
							</div>
						</div>
					</div>
					<div class="form-row form-group">
						<div class="col">
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text">Description</span>
								</div>
								<input type="text" class="form-control" name="description" value="{{ db_obj_project.description }}">
							</div>
						</div>
					</div>
					<div class="form-row form-group">
						<div class="col">
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text">Reward</span>
								</div>
								<input type="number" class="form-control" name="reward" step="0.01" value="{{ db_obj_project.reward }}">
								<div class="input-group-append">
									<span class="input-group-text">$</span>
								</div>
							</div>
						</div>
						<div class="col">
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text">Lifetime</span>
								</div>
								<input type="number" class="form-control" name="lifetime" value="{{ db_obj_project.lifetime }}">
								<div class="input-group-append">
									<span class="input-group-text">s</span>
								</div>
							</div>
						</div>
						<div class="col">
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text">Duration</span>
								</div>
								<input type="number" class="form-control" name="duration" value="{{ db_obj_project.duration }}">
								<div class="input-group-append">
									<span class="input-group-text">s</span>
								</div>
							</div>
						</div>
					</div>
					<div class="form-row form-group">
						<div class="col input-group">
							<div class="input-group-prepend">
								<label class="input-group-text">Template</label>
							</div>
							<select class="custom-select" name="template">
								<option value="">please select a template</option>
							{% for template in db_obj_project.templates.all %}
							{% if template.is_active %}
								<option value="{{ template.id }}" {% if template ==  db_obj_project.fk_template_main %}selected{% endif %}>{{ template.name }}</option>
							{% endif %}
							{% endfor %}
							</select>
						</div>
						<div class="col">
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text">Number of assignments</span>
								</div>
								<input type="number" class="form-control" name="count_assignments" value="{{ db_obj_project.count_assignments }}">
							</div>
						</div>
					</div>
					<div class="form-row form-group">
						<div class="col">
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text">Keywords (comma-separated)</span>
								</div>
								<input type="text" class="form-control" name="keywords" value="{{ db_obj_project.keywords }}">
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="submit" name="task" value="create_batch" class="btn btn-primary">Create</button>
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="modal fade" tabindex="-1" id="modal_add_template_assignment">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Add template</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<form method="post" enctype="multipart/form-data">
				<div class="modal-body">
					{% csrf_token %}
					<div class="form-group">
						<div class="input-group">
							<div class="input-group-prepend">
								<span class="input-group-text">Name</span>
							</div>
							<input type="text" class="form-control" name="name" maxlength="200" placeholder="Name of the template">
						</div>
					</div>
					<div class="form-row form-group">
						<div class="col">
							<div class="input-group">
							  	<div class="input-group-prepend">
						    		<span class="input-group-text">HTML snippet</span>
							  	</div>
							  	<textarea class="form-control" name="html_template" placeholder="paste the HTML code here" rows="1" style="resize: none;"></textarea>
							</div>
						</div>
						<div class="col-auto d-flex align-items-center">
							<div class="">or</div>
						</div>
						<div class="col">
							<div class="input-group">
							  	<div class="input-group-prepend">
						    		<span class="input-group-text">HTML file</span>
							  	</div>
								<label class="custom-file">
									<input type="file" name="file_template" class="custom-file-input">
									<span class="custom-file-label"></span>
								</label>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="submit" name="task" value="add_template_assignment" class="btn btn-primary">Add</button>
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="modal fade" tabindex="-1" id="modal_update_template_assignment">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Update assignment template</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<form method="post" enctype="multipart/form-data">
				<div class="modal-body">
					{% csrf_token %}
					<input type="hidden" name="id">
					<div class="form-group">
						<div class="input-group">
							<div class="input-group-prepend">
								<span class="input-group-text">Name</span>
							</div>
							<input type="text" class="form-control" name="name" maxlength="200" placeholder="Name of the template">
						</div>
					</div>
					<div class="form-row form-group">
						<div class="col">
							<div class="input-group">
							  	<div class="input-group-prepend">
						    		<span class="input-group-text">HTML snippet</span>
							  	</div>
							  	<textarea class="form-control" name="html_template" placeholder="paste the HTML code here" rows="1" style="resize: none;"></textarea>
							</div>
						</div>
						<div class="col-auto d-flex align-items-center">
							<div class="">or</div>
						</div>
						<div class="col">
							<div class="input-group">
							  	<div class="input-group-prepend">
						    		<span class="input-group-text">HTML file</span>
							  	</div>
								<label class="custom-file">
									<input type="file" name="file_template" class="custom-file-input">
									<span class="custom-file-label"></span>
								</label>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="submit" name="task" value="update_template_assignment" class="btn btn-primary">Update</button>
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="modal fade" tabindex="-1" id="modal_update_template">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Update template</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<form method="post" enctype="multipart/form-data">
				<div class="modal-body">
					{% csrf_token %}
					<input type="hidden" name="id">
					<div class="form-group">
						<div class="input-group">
							<div class="input-group-prepend">
								<span class="input-group-text">Name</span>
							</div>
							<input type="text" class="form-control" name="name" maxlength="200" placeholder="Name of the template">
						</div>
					</div>
					<div class="form-row form-group">
						<div class="col-auto">
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text">Frame height</span>
								</div>
								<input type="number" class="form-control" name="height_frame" value="800">
								<div class="input-group-append">
									<span class="input-group-text">px</span>
								</div>
							</div>
						</div>
					</div>
					<div class="form-row form-group">
						<div class="col input-group">
							<div class="input-group-prepend">
								<label class="input-group-text">Assignment template</label>
							</div>
							<select class="custom-select" name="template_assignment">
								<option value="">please select a template</option>
							{% for template in db_obj_project.templates_assignment.all %}
							{% if template.is_active %}
								<option value="{{ template.id }}" {% if template ==  db_obj_project.fk_template_assignment_main %}selected{% endif %}>{{ template.name }}</option>
							{% endif %}
							{% endfor %}
							</select>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="submit" name="task" value="update_template" class="btn btn-primary">Update</button>
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="modal fade" tabindex="-1" id="modal_add_template">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Add template</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<form method="post" enctype="multipart/form-data">
				<div class="modal-body">
					{% csrf_token %}
					<div class="form-group">
						<div class="input-group">
							<div class="input-group-prepend">
								<span class="input-group-text">Name</span>
							</div>
							<input type="text" class="form-control" name="name" maxlength="200" placeholder="Name of the template">
						</div>
					</div>
					<div class="form-row form-group">
						<div class="col">
							<div class="input-group">
							  	<div class="input-group-prepend">
						    		<span class="input-group-text">HTML template</span>
							  	</div>
							  	<textarea class="form-control" name="html_template" placeholder="paste the HTML code here" rows="1" style="resize: none;"></textarea>
							</div>
						</div>
						<div class="col-auto d-flex align-items-center">
							<div class="">or</div>
						</div>
						<div class="col">
							<div class="input-group">
							  	<div class="input-group-prepend">
						    		<span class="input-group-text">HTML file</span>
							  	</div>
								<label class="custom-file">
									<input type="file" name="file_template" class="custom-file-input">
									<span class="custom-file-label"></span>
								</label>
							</div>
						</div>
					</div>
					<div class="form-row form-group">
						<div class="col-auto">
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text">Frame height</span>
								</div>
								<input type="number" class="form-control" name="height_frame" value="800">
								<div class="input-group-append">
									<span class="input-group-text">px</span>
								</div>
							</div>
						</div>
					</div>
					<div class="form-row form-group">
						<div class="col input-group">
							<div class="input-group-prepend">
								<label class="input-group-text">Assignment template</label>
							</div>
							<select class="custom-select" name="template_assignment">
								<option value="">please select a template</option>
							{% for template in db_obj_project.templates_assignment.all %}
							{% if template.is_active %}
								<option value="{{ template.id }}" {% if template ==  db_obj_project.fk_template_assignment_main %}selected{% endif %}>{{ template.name }}</option>
							{% endif %}
							{% endfor %}
							</select>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="submit" name="task" value="add_template" class="btn btn-primary">Add</button>
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}