{% load mturk_manager_templatetags %}

<h2>Batch settings {% render_info info_texts.batch_settings %}</h2>
<form method="post">
	{% csrf_token %}

	{% include 'mturk_manager/form_settings_project.html' with form=form_update_project only %}

	<button type="submit" name="task" value="update_settings" class="btn btn-primary btn-sm"><i class="fas fa-sync-alt"></i> Save changes</button>
	<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modal_create_batch"><i class="fas fa-plus"></i> Create batch</button>
</form>
<!--  -->
<!--  -->
<!--  -->
<div class="modal fade" tabindex="-1" id="modal_create_batch">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Create batch</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<form method="post" enctype="multipart/form-data">
				<div class="modal-body">
					<div class="container-fluid">
						{% csrf_token %}
						<div class="form-row form-group">
							<div class="col input-group input-group-sm">
								<div class="input-group-prepend">
									<span class="input-group-text">Name</span>
								</div>
								<input type="text" class="form-control" name="name" maxlength="200" placeholder="Name of the batch">
							</div>
						</div>
						<div class="form-row form-group">
							<div class="col input-group input-group-sm custom_file_sm">
							  	<div class="input-group-prepend">
						    		<span class="input-group-text">CSV file</span>
							  	</div>
								<div class="custom-file">
									<input type="file" name="file_csv" class="custom-file-input" id="modal_create_batch_file">
									<label class="custom-file-label" for="modal_create_batch_file"></label>
								</div>
							</div>
						</div>
						<hr>
						{% include 'mturk_manager/form_settings_project.html' with form=form_update_project only %}
					</div>
				</div>
				<div class="modal-footer">
					<button type="submit" name="task" value="create_batch" class="btn btn-primary">Create</button>
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
			</form>
		</div>
	</div>
</div>
