{% extends "mturk_manager/base.html" %}
{% load static %}
{% load mturk_manager_templatetags %}

{% block name_project %}
{{ db_obj_project.name }}
{% endblock %}

{% block links_project %}
	<a class="nav-item nav-link" href="{% url 'mturk_manager:project' db_obj_project.name %}">Project</a>
	<a class="nav-item nav-link" href="{% url 'viewer:index' db_obj_project.name %}">Assignments</a>
	<a class="nav-item nav-link" href="{% url 'viewer:index' db_obj_project.name|add:'_workers' %}">Workers</a>
{% endblock %}

{% block body %}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
<link rel="stylesheet" href="{% static 'mturk_manager/css/sublime.css' %}">
<div class="container-fluid mb-3" id="page_project">
	<div class="row mt-3">
		<div class="col col-lg-6">
			<div class="table-responsive">
				<table class="table table-sm table-bordered mb-0" id="table_stats">
					<thead>
						<tr>
							<th rowspan="2" class="text-center align-middle">
								<form method="post">
									{% csrf_token %}
									<button type="submit" name="task" value="synchronize_database" class="btn btn-primary"><i class="fas fa-sync-alt"></i></button>
								</form>
							</th>
							<!-- <th></th> -->
							<th></th>
							<th></th>
							<th colspan="4" class="text-center">Assignments</th>
						</tr>
						<tr>
							<!-- <th></th> -->
							<th>Batches</th>
							<th>Hits</th>
							<th>Total</th>
							<th>Processed</th>
							<th>Pending</th>
							<th>New</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Real</td>
							<td>{{ dict_stats.count_batches }}</td>
							<td>{{ dict_stats.count_hits }}</td>
							<td>{{ dict_stats.count_assignments_total }}</td>
							<td>{{ dict_stats.count_assignments }}</td>
							<td>{{ dict_stats.count_assignments_pending }}</td>
							<td>{{ dict_stats.count_assignments_new }}</td>
						</tr>
						<tr>
							<td>Sandbox</td>
							<td>{{ dict_stats.count_batches_sandbox }}</td>
							<td>{{ dict_stats.count_hits_sandbox }}</td>
							<td>{{ dict_stats.count_assignments_sandbox_total }}</td>
							<td>{{ dict_stats.count_assignments_sandbox }}</td>
							<td>{{ dict_stats.count_assignments_sandbox_pending }}</td>
							<td>{{ dict_stats.count_assignments_sandbox_new }}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="col">
			<p class="h1">Balance: <span id="balance_mturk_current"><i class="fas fa-sync fa-spin"></i></span></p>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-12 col-xl-6">
			{% include 'mturk_manager/project_batch.html' %}
		</div>
		<div class="col">
			{% include 'mturk_manager/project_templates.html' %}
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-12 col-lg-6">
			<form method="post">
				{% csrf_token %}
				<fieldset>
					<legend>Manage reject messages</legend>
					<div class="table-responsive">
						<table class="table table-sm">
							<thead>
								<tr>
									<th>
										<div class="custom-control custom-checkbox">
											<input type="checkbox" data-kritten_checkbox_main="manage_messages_reject" id="checkbox_manage_messages_reject_main" class="custom-control-input">
											<label class="custom-control-label" for="checkbox_manage_messages_reject_main"></label>
										</div> 
									</th>
									<th>Message</th>
									<th>Update</th>
								</tr>
							</thead>
							<tbody>
								{% for message in db_obj_project.messages_reject.all %}
								<tr>
									<td>
										<div class="custom-control custom-checkbox">
											<input type="checkbox" data-kritten_checkbox="manage_messages_reject" name="messages" value="{{ message.id }}" id="checkbox_manage_messages_reject_{{ message.id }}" class="custom-control-input">
											<label class="custom-control-label" for="checkbox_manage_messages_reject_{{ message.id }}"></label>
										</div>
									</td>
									<td>
										{{ message.message }}
									</td>
									<td>
										<a href="#" data-id="{{ message.id }}" data-message="{{ message.message }}" data-toggle="modal" data-target="#modal_update_message_reject"><i class="fas fa-edit"></i></a>
									</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
					<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modal_add_message_reject"><i class="fas fa-plus"></i> Add message</button>
					{% if db_obj_project.messages_reject.count > 0 %}
					<button type="submit" name="task" value="delete_messages_reject" class="btn btn-danger btn-sm"><i class="fas fa-minus"></i> Delete selected</button>
					{% endif %}
				</fieldset>
			</form>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-12 col-lg-6">
			<form method="post">
				{% csrf_token %}
				<fieldset>
					<legend>Manage block messages</legend>
					<div class="table-responsive">
						<table class="table table-sm">
							<thead>
								<tr>
									<th>
										<div class="custom-control custom-checkbox">
											<input type="checkbox" data-kritten_checkbox_main="manage_messages_block" id="checkbox_manage_messages_block_main" class="custom-control-input">
											<label class="custom-control-label" for="checkbox_manage_messages_block_main"></label>
										</div> 
									</th>
									<th>Message</th>
									<th>Update</th>
								</tr>
							</thead>
							<tbody>
								{% for message in db_obj_project.messages_block.all %}
								<tr>
									<td>
										<div class="custom-control custom-checkbox">
											<input type="checkbox" data-kritten_checkbox="manage_messages_block" name="messages" value="{{ message.id }}" id="checkbox_manage_messages_block_{{ message.id }}" class="custom-control-input">
											<label class="custom-control-label" for="checkbox_manage_messages_block_{{ message.id }}"></label>
										</div>
									</td>
									<td>
										{{ message.message }}
									</td>
									<td>
										<a href="#" data-id="{{ message.id }}" data-message="{{ message.message }}" data-toggle="modal" data-target="#modal_update_message_block"><i class="fas fa-edit"></i></a>
									</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
					<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modal_add_message_block"><i class="fas fa-plus"></i> Add message</button>
					{% if db_obj_project.messages_block.count > 0 %}
					<button type="submit" name="task" value="delete_messages_block" class="btn btn-danger btn-sm"><i class="fas fa-minus"></i> Delete selected</button>
					{% endif %}
				</fieldset>
			</form>
		</div>
	</div>
	<hr>
	<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal_delete_project"><i class="fas fa-minus"></i> Delete project</button>
	<button type="button" class="btn btn-warning" data-toggle="modal" data-target="#modal_clear_sandbox"><i class="fas fa-eraser"></i> Clear sandbox</button>
	<button type="button" class="btn btn-info" data-toggle="modal" data-target="#modal_import_csv"><i class="fas fa-upload"></i> Import CSV</button>
</div>

<div class="modal fade" tabindex="-1" id="modal_import_csv">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Import CSV file</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<form method="post" enctype="multipart/form-data">
				<div class="modal-body">
					<div class="container-fluid">
						{% csrf_token %}
						<div class="form-row form-group">
							<div class="col">
								<div class="input-group">
								  	<div class="input-group-prepend">
							    		<span class="input-group-text">CSV file</span>
								  	</div>
									<label class="custom-file">
										<input type="file" name="file_csv" class="custom-file-input">
										<span class="custom-file-label"></span>
									</label>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="submit" name="task" value="import_csv" class="btn btn-primary">Import</button>
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="modal fade" tabindex="-1" id="modal_update_message_reject">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Update reject message</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<form method="post" enctype="multipart/form-data">
				<div class="modal-body">
					<div class="container-fluid">
						{% csrf_token %}
						<input type="hidden" name="id">
						<div class="form-row form-group">
							<div class="col input-group">
								<div class="input-group-prepend">
									<span class="input-group-text">Message</span>
								</div>
								<input type="text" class="form-control" name="message" maxlength="1024">
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="submit" name="task" value="update_message_reject" class="btn btn-primary">Add</button>
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="modal fade" tabindex="-1" id="modal_add_message_reject">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Add reject message</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<form method="post" enctype="multipart/form-data">
				<div class="modal-body">
					<div class="container-fluid">
						{% csrf_token %}
						<div class="form-row form-group">
							<div class="col input-group">
								<div class="input-group-prepend">
									<span class="input-group-text">Message</span>
								</div>
								<input type="text" class="form-control" name="message" maxlength="1024">
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="submit" name="task" value="add_message_reject" class="btn btn-primary">Add</button>
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="modal fade" tabindex="-1" id="modal_update_message_block">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Update block message</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<form method="post" enctype="multipart/form-data">
				<div class="modal-body">
					<div class="container-fluid">
						{% csrf_token %}
						<input type="hidden" name="id">
						<div class="form-row form-group">
							<div class="col input-group">
								<div class="input-group-prepend">
									<span class="input-group-text">Message</span>
								</div>
								<input type="text" class="form-control" name="message" maxlength="1024">
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="submit" name="task" value="update_message_block" class="btn btn-primary">Add</button>
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="modal fade" tabindex="-1" id="modal_add_message_block">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Add block message</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<form method="post" enctype="multipart/form-data">
				<div class="modal-body">
					<div class="container-fluid">
						{% csrf_token %}
						<div class="form-row form-group">
							<div class="col input-group">
								<div class="input-group-prepend">
									<span class="input-group-text">Message</span>
								</div>
								<input type="text" class="form-control" name="message" maxlength="1024">
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="submit" name="task" value="add_message_block" class="btn btn-primary">Add</button>
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="modal fade" tabindex="-1" id="modal_show_html">
	<div class="modal-dialog modal-lg modal-xxl">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">HTML</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<pre><code class="html"></code></pre>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" tabindex="-1" id="modal_delete_project">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Do you really want to delete this project?</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<form method="post" enctype="multipart/form-data">
				{% csrf_token %}
				<div class="modal-footer">
					<button type="submit" name="task" value="delete_project" class="btn btn-danger">Delete</button>
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="modal fade" tabindex="-1" id="modal_clear_sandbox">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Do you really want to clear the sandbox?</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<form method="post" enctype="multipart/form-data">
				{% csrf_token %}
				<div class="modal-footer">
					<button type="submit" name="task" value="clear_sandbox" class="btn btn-warning">Clear</button>
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
			</form>
		</div>
	</div>
</div>

{% endblock %}

{% block javascript %}
	{{ block.super }}
	<script src="{% static 'mturk_manager/js/highlight.pack.js' %}"></script>
	<script src="{% static 'mturk_manager/js/project.js' %}"></script>
{% endblock %}
