{% load mturk_manager_templatetags %}
<form method="post" enctype="multipart/form-data">
	<div class="form-row form-group">
		<div class="col">
			<div class="input-group input-group-sm">
				<div class="input-group-prepend">
					<label for="{{ form.title.id_for_label }}" class="input-group-text">{{ form.title.label }}</label>
				</div>
				{{ form.title }}
			</div>
		</div>
	</div>
	<div class="form-row form-group">
		<div class="col">
			<div class="input-group input-group-sm">
				<div class="input-group-prepend">
					<label for="{{ form.description.id_for_label }}" class="input-group-text">{{ form.description.label }}</label>
				</div>
				{{ form.description }}
			</div>
		</div>
	</div>
	<div class="form-row form-group">
		<div class="col-12 col-md-6 mb-3 mb-md-0">
			<div class="input-group input-group-sm">
				<div class="input-group-prepend">
					<label for="{{ form.reward.id_for_label }}" class="input-group-text">{{ form.reward.label }}</label>
				</div>
				{{ form.reward }}
				<div class="input-group-append">
					<span class="input-group-text">$</span>
				</div>
			</div>
		</div>
		<div class="col-12 col-md-6">
			<div class="input-group input-group-sm">
				<div class="input-group-prepend">
					<label for="{{ form.count_assignments.id_for_label }}" class="input-group-text">{{ form.count_assignments.label }}</label>
				</div>
				{{ form.count_assignments }}
			</div>
		</div>
	</div>
	<div class="form-row form-group">
		<div class="col-12 col-md-6 mb-3 mb-md-0">
			<div class="input-group input-group-sm">
				<div class="input-group-prepend">
					<label for="{{ form.lifetime.id_for_label }}" class="input-group-text">{{ form.lifetime.label }}</label>
				</div>
				{{ form.lifetime }}
				<div class="input-group-append">
					<span class="input-group-text">s</span>
				</div>
			</div>
		</div>
		<div class="col-12 col-md-6">
			<div class="input-group input-group-sm">
				<div class="input-group-prepend">
					<label for="{{ form.duration.id_for_label }}" class="input-group-text">{{ form.duration.label }}</label>
				</div>
				{{ form.duration }}
				<div class="input-group-append">
					<span class="input-group-text">s</span>
				</div>
			</div>
		</div>
	</div>
	<div class="form-row form-group">
		<div class="col">
			<div class="input-group input-group-sm">
				<div class="input-group-prepend">
					<label for="{{ form.keywords.id_for_label }}" class="input-group-text">{{ form.keywords.label }}</label>
				</div>
				{{ form.keywords }}
			</div>
		</div>
	</div>
	<div class="form-row form-group">
		<div class="col">
			<div class="input-group input-group-sm">
				<div class="input-group-prepend">
					<label for="{{ form.use_sandbox.id_for_label }}" class="input-group-text">{{ form.use_sandbox.label }}</label>
				</div>
				<div class="input-group-append">
					<div class="input-group-text">
						{{ form.use_sandbox }}
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="form-row form-group">
		<div class="col input-group input-group-sm">
			<div class="input-group-prepend">
				<label for="{{ form.fk_template_main.id_for_label }}" class="input-group-text">{{ form.fk_template_main.label }}</label>
			</div>
			{{ form.fk_template_main }}
		</div>
	</div>
	<div class="form-row form-group">
		<div class="col input-group input-group-sm">
			<div class="input-group-prepend">
				<label for="{{ form.fk_template_assignment_main.id_for_label }}" class="input-group-text">{{ form.fk_template_assignment_main.label }}</label>
			</div>
			{{ form.fk_template_assignment_main }}
		</div>
	</div>
	<!-- {{ form }} -->
	{% csrf_token %}
	<fieldset class="form-group">
		<legend>Batch settings {% render_info info_texts.batch_settings %}</legend>
		<div class="form-row form-group">
			<div class="col">
				<div class="input-group input-group-sm">
					<div class="input-group-prepend">
						<span class="input-group-text">Title</span>
					</div>
					<input type="text" class="form-control" name="title" value="{{ db_obj_project.title }}">
				</div>
			</div>
		</div>
		<div class="form-row form-group">
			<div class="col">
				<div class="input-group input-group-sm">
					<div class="input-group-prepend">
						<span class="input-group-text">Description</span>
					</div>
					<input type="text" class="form-control" name="description" value="{{ db_obj_project.description }}">
				</div>
			</div>
		</div>
		<div class="form-row form-group">
			<div class="col-12 col-md-6 mb-3 mb-md-0">
				<div class="input-group input-group-sm">
					<div class="input-group-prepend">
						<span class="input-group-text">Reward</span>
					</div>
					<input type="number" class="form-control" name="reward" step="0.01" value="{{ db_obj_project.reward }}">
					<div class="input-group-append">
						<span class="input-group-text">$</span>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-6">
				<div class="input-group input-group-sm">
					<div class="input-group-prepend">
						<span class="input-group-text">Number of assignments</span>
					</div>
					<input type="number" class="form-control" name="count_assignments" value="{{ db_obj_project.count_assignments }}">
				</div>
			</div>
		</div>
		<div class="form-row form-group">
			<div class="col-12 col-md-6 mb-3 mb-md-0">
				<div class="input-group input-group-sm">
					<div class="input-group-prepend">
						<span class="input-group-text">Lifetime</span>
					</div>
					<input type="number" class="form-control" name="lifetime" value="{{ db_obj_project.lifetime }}">
					<div class="input-group-append">
						<span class="input-group-text">s</span>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-6">
				<div class="input-group input-group-sm">
					<div class="input-group-prepend">
						<span class="input-group-text">Duration</span>
					</div>
					<input type="number" class="form-control" name="duration" value="{{ db_obj_project.duration }}">
					<div class="input-group-append">
						<span class="input-group-text">s</span>
					</div>
				</div>
			</div>
		</div>
		<div class="form-row form-group">
			<div class="col">
				<div class="input-group input-group-sm">
					<div class="input-group-prepend">
						<span class="input-group-text">Keywords (comma-separated)</span>
					</div>
					<input type="text" class="form-control" name="keywords" value="{{ db_obj_project.keywords }}">
				</div>
			</div>
		</div>
		<div class="form-row form-group">
			<div class="col input-group input-group-sm">
				<div class="input-group-prepend">
					<label class="input-group-text">Use sandbox</label>
				</div>
				<select class="custom-select custom-select-sm" name="use_sandbox">
					<option value="0" {% if False ==  db_obj_project.use_sandbox %}selected{% endif %}>no</option>
					<option value="1" {% if True ==  db_obj_project.use_sandbox %}selected{% endif %}>yes</option>
				</select>
			</div>
		</div>
		<div class="form-row form-group">
			<div class="col input-group input-group-sm">
				<div class="input-group-prepend">
					<label class="input-group-text">Default worker template</label>
				</div>
				<select class="custom-select custom-select-sm" name="template_main">
					<option value="">please select a template</option>
				{% for template in db_obj_project.templates.all %}
				{% if template.is_active %}
					<option value="{{ template.id }}" {% if template ==  db_obj_project.fk_template_main %}selected{% endif %}>{{ template.name }}</option>
				{% endif %}
				{% endfor %}
				</select>
			</div>
		</div>
		<div class="form-row form-group">
			<div class="col input-group input-group-sm">
				<div class="input-group-prepend">
					<label class="input-group-text">Default requester assignment template</label>
				</div>
				<select class="custom-select custom-select-sm" name="template_assignment_main">
					<option value="">please select a template</option>
				{% for template in db_obj_project.templates_assignment.all %}
				{% if template.is_active %}
					<option value="{{ template.id }}" {% if template ==  db_obj_project.fk_template_assignment_main %}selected{% endif %}>{{ template.name }}</option>
				{% endif %}
				{% endfor %}
				</select>
			</div>
		</div>
		<div class="form-row form-group">
			<div class="col input-group input-group-sm">
				<div class="input-group-prepend">
					<label class="input-group-text">Default requester hit template</label>
				</div>
				<select class="custom-select custom-select-sm" name="template_hit_main">
					<option value="">please select a template</option>
				{% for template in db_obj_project.templates_hit.all %}
				{% if template.is_active %}
					<option value="{{ template.id }}" {% if template ==  db_obj_project.fk_template_hit_main %}selected{% endif %}>{{ template.name }}</option>
				{% endif %}
				{% endfor %}
				</select>
			</div>
		</div>
		<div class="form-row form-group">
			<div class="col input-group input-group-sm">
				<div class="input-group-prepend">
					<label class="input-group-text">Default global template</label>
				</div>
				<select class="custom-select custom-select-sm" name="template_global_main">
					<option value="">please select a template</option>
				{% for template in db_obj_project.templates_global.all %}
					<option value="{{ template.id }}" {% if template ==  db_obj_project.fk_template_global_main %}selected{% endif %}>{{ template.name }}</option>
				{% endfor %}
				</select>
			</div>
		</div>
		<div class="form-row form-group">
			<div class="col input-group input-group-sm">
				<div class="input-group-prepend">
					<label class="input-group-text">Default reject message</label>
				</div>
				<select class="custom-select custom-select-sm" name="message_reject_default">
					<option value="">please select a reject message</option>
				{% for message in db_obj_project.messages_reject.all %}
					<option value="{{ message.id }}" {% if message ==  db_obj_project.fk_message_reject_default %}selected{% endif %}>{{ message.message }}</option>
				{% endfor %}
				</select>
			</div>
		</div>
		<div class="form-row form-group">
			<div class="col input-group input-group-sm">
				<div class="input-group-prepend">
					<label class="input-group-text">Block workers</label>
				</div>
				<select class="custom-select custom-select-sm" name="block_workers_default">
					<option value="disabled" {% if db_obj_project.block_workers == 'disabled' %}selected{% endif %}>disabled</option>
					<option value="enabled_inject" {% if db_obj_project.block_workers == 'enabled_inject' %}selected{% endif %}>enabled (inject workers into worker template)</option>
					<option value="enabled_request" {% if db_obj_project.block_workers == 'enabled_request' %}selected{% endif %}>enabled (request the server for block status)</option>
				</select>
			</div>
		</div>
		<div class="form-row form-group">
			<div class="col input-group input-group-sm">
				<div class="input-group-prepend">
					<label class="input-group-text">Default block message</label>
				</div>
				<select class="custom-select custom-select-sm" name="message_block_default">
					<option value="">use default block message</option>
				{% for message in db_obj_project.messages_block.all %}
					<option value="{{ message.id }}" {% if message ==  db_obj_project.fk_message_block_default %}selected{% endif %}>{{ message.message }}</option>
				{% endfor %}
				</select>
			</div>
		</div>
		<button type="submit" name="task" value="update_settings" class="btn btn-primary btn-sm"><i class="fas fa-sync-alt"></i> Save changes</button>
		<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modal_create_batch"><i class="fas fa-plus"></i> Create batch</button>
	</fieldset>
</form>
<!--  -->
<!--  -->
<!--  -->
<div class="modal fade" tabindex="-1" id="modal_create_batch">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Create batch</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<form method="post" enctype="multipart/form-data">
				<div class="modal-body">
					<div class="container-fluid">
						{% csrf_token %}
						<div class="form-row form-group">
							<div class="col input-group input-group-sm">
								<div class="input-group-prepend">
									<span class="input-group-text">Name</span>
								</div>
								<input type="text" class="form-control" name="name" maxlength="200" placeholder="Name of the batch">
							</div>
						</div>
						<div class="form-row form-group">
							<div class="col input-group input-group-sm custom_file_sm">
							  	<div class="input-group-prepend">
						    		<span class="input-group-text">CSV file</span>
							  	</div>
								<div class="custom-file">
									<input type="file" name="file_csv" class="custom-file-input" id="modal_create_batch_file">
									<label class="custom-file-label" for="modal_create_batch_file"></label>
								</div>
							</div>
						</div>
						<hr>
						<div class="form-row form-group">
							<div class="col">
								<div class="input-group input-group-sm">
									<div class="input-group-prepend">
										<span class="input-group-text">Title</span>
									</div>
									<input type="text" class="form-control" name="title" value="{{ db_obj_project.title }}">
								</div>
							</div>
						</div>
						<div class="form-row form-group">
							<div class="col">
								<div class="input-group input-group-sm">
									<div class="input-group-prepend">
										<span class="input-group-text">Description</span>
									</div>
									<input type="text" class="form-control" name="description" value="{{ db_obj_project.description }}">
								</div>
							</div>
						</div>
						<div class="form-row form-group">
							<div class="col-12 col-md-6 mb-3 mb-md-0">
								<div class="input-group input-group-sm">
									<div class="input-group-prepend">
										<span class="input-group-text">Reward</span>
									</div>
									<input type="number" class="form-control" name="reward" step="0.01" value="{{ db_obj_project.reward }}">
									<div class="input-group-append">
										<span class="input-group-text">$</span>
									</div>
								</div>
							</div>
							<div class="col-12 col-md-6">
								<div class="input-group input-group-sm">
									<div class="input-group-prepend">
										<span class="input-group-text">Number of assignments</span>
									</div>
									<input type="number" class="form-control" name="count_assignments" value="{{ db_obj_project.count_assignments }}">
								</div>
							</div>
						</div>
						<div class="form-row form-group">
							<div class="col-12 col-md-6 mb-3 mb-md-0">
								<div class="input-group input-group-sm">
									<div class="input-group-prepend">
										<span class="input-group-text">Lifetime</span>
									</div>
									<input type="number" class="form-control" name="lifetime" value="{{ db_obj_project.lifetime }}">
									<div class="input-group-append">
										<span class="input-group-text">s</span>
									</div>
								</div>
							</div>
							<div class="col-12 col-md-6">
								<div class="input-group input-group-sm">
									<div class="input-group-prepend">
										<span class="input-group-text">Duration</span>
									</div>
									<input type="number" class="form-control" name="duration" value="{{ db_obj_project.duration }}">
									<div class="input-group-append">
										<span class="input-group-text">s</span>
									</div>
								</div>
							</div>
						</div>
						<div class="form-row form-group">
							<div class="col">
								<div class="input-group input-group-sm">
									<div class="input-group-prepend">
										<span class="input-group-text">Keywords (comma-separated)</span>
									</div>
									<input type="text" class="form-control" name="keywords" value="{{ db_obj_project.keywords }}">
								</div>
							</div>
						</div>
						<div class="form-row form-group">
							<div class="col input-group input-group-sm">
								<div class="input-group-prepend">
									<label class="input-group-text">Use sandbox</label>
								</div>
								<select class="custom-select custom-select-sm" name="use_sandbox">
									<option value="0" {% if False ==  db_obj_project.use_sandbox %}selected{% endif %}>no</option>
									<option value="1" {% if True ==  db_obj_project.use_sandbox %}selected{% endif %}>yes</option>
								</select>
							</div>
						</div>
						<div class="form-row form-group">
							<div class="col input-group input-group-sm">
								<div class="input-group-prepend">
									<label class="input-group-text">Worker template</label>
								</div>
								<select class="custom-select custom-select-sm" name="template">
									<option value="">please select a template</option>
								{% for template in db_obj_project.templates.all %}
								{% if template.is_active %}
									<option value="{{ template.id }}" {% if template ==  db_obj_project.fk_template_main %}selected{% endif %}>{{ template.name }}</option>
								{% endif %}
								{% endfor %}
								</select>
							</div>
						</div>
						<div class="form-row form-group">
							<div class="col input-group input-group-sm">
								<div class="input-group-prepend">
									<label class="input-group-text">Block workers</label>
								</div>
								<select class="custom-select custom-select-sm" name="block_workers">
									<option value="disabled" {% if db_obj_project.block_workers == 'disabled' %}selected{% endif %}>disabled</option>
									<option value="enabled_inject" {% if db_obj_project.block_workers == 'enabled_inject' %}selected{% endif %}>enabled (inject workers into worker template)</option>
									<option value="enabled_request" {% if db_obj_project.block_workers == 'enabled_request' %}selected{% endif %}>enabled (request the server for block status)</option>
								</select>
							</div>
						</div>
						<div class="form-row form-group">
							<div class="col input-group input-group-sm">
								<div class="input-group-prepend">
									<label class="input-group-text">Default block message</label>
								</div>
								<select class="custom-select custom-select-sm" name="message_block_worker">
									<option value="">use default block message</option>
								{% for message in db_obj_project.messages_block.all %}
									<option value="{{ message.id }}" {% if message ==  db_obj_project.fk_message_block_default %}selected{% endif %}>{{ message.message }}</option>
								{% endfor %}
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="submit" name="task" value="create_batch" class="btn btn-primary">Create</button>
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
			</form>
		</div>
	</div>
</div>
