{% load mturk_manager_templatetags %}

<h2>Batch settings {% render_info info_texts.batch_settings %}</h2>
<form method="post">
	{% csrf_token %}

	{% include 'mturk_manager/form_settings_project.html' with form=form_update_project only %}

	<button type="submit" name="task" value="update_settings" class="btn btn-primary btn-sm"><i class="fas fa-sync-alt"></i> Save changes</button>
	<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modal_create_batch"><i class="fas fa-plus"></i> Create batch</button>
</form>
<!--  -->
<!--  -->
<!--  -->
<div class="modal fade" tabindex="-1" id="modal_create_batch">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Create batch</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<form method="post" enctype="multipart/form-data">
				<div class="modal-body">
					<div class="container-fluid">
						{% csrf_token %}
						<div class="form-row form-group">
							<div class="col">
								<div class="input-group input-group-sm">
									<div class="input-group-prepend">
										<label for="{{ form_create_batch.name.id_for_label }}" class="input-group-text">{{ form_create_batch.name.label }}</label>
									</div>
									{{ form_create_batch.name }}
								</div>
							</div>
						</div>

						<div class="form-row form-group">
							<div class="col input-group input-group-sm custom_file_sm">
							  	<div class="input-group-prepend">
						    		<span class="input-group-text">{{ form_create_batch.file_csv.label }}</span>
							  	</div>
								<div class="custom-file">
									{{ form_create_batch.file_csv }}
									<label class="custom-file-label" for="{{ form_create_batch.file_csv.id_for_label }}"></label>
								</div>
							</div>
						</div>
							<a href="#" data-toggle="collapse" data-target="#wrapper_override_default_settings">Override default settings</a>
							<div class="collapse" id="wrapper_override_default_settings">
								{% include 'mturk_manager/form_settings_project.html' with form=form_create_batch only %}
							</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="submit" name="task" value="create_batch" class="btn btn-primary">Create</button>
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
			</form>
		</div>
	</div>
</div>
