{% extends "mturk_manager/base.html" %}
{% load static %}

{% block name_project %}Settings{% endblock %}

{% block body %}
<div class="container-fluid" id="page_settings">
	<div class="row">
		<div class="col">
			<h1>MTurk credentials</h1>
			<div class="table-responsive">
				<table class="table table-bordered table-sm">
					<thead>
						<tr>
							<th>Name</th>
							<th>Access key</th>
							<th>Secret key</th>
							<th>Update</th>
						</tr>
					</thead>
					<tbody>
						{% for mturk in queryset_mturk %}
						<tr>
							<td>{{ mturk.name }}</td>
							<td>{{ mturk.key_access }}</td>
							<td>{{ mturk.key_secret }}</td>
							<td>
								<button type="button" class="btn btn-primary btn-sm" data-id="{{ mturk.id }}" data-name="{{ mturk.name }}" data-key_access="{{ mturk.key_access }}" data-key_secret="{{ mturk.key_secret }}" data-toggle="modal" data-target="#modal_update_account">Update</button>
							</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
			<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal_add_account">
				Add
			</button>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col">
			<h1>Projects</h1>
			<div class="table-responsive">
				<table class="table table-bordered table-sm">
					<thead>
						<tr>
							<th>Name</th>
							<th>MTurk Account</th>
							<th>Version (latest: {{ version }})</th>
							<th class="text-center">Open</th>
						</tr>
					</thead>
					<tbody>
						{% for project in queryset_projects %}
						<tr>
							<td>{{ project.name }}</td>
							<td>{{ project.fk_account_mturk.name }}</td>
							<td {% if version > project.version %}class="text-danger"{% else %}{% endif %}>{{ project.version }}</td>
							<td class="text-center"><a href="{% url 'mturk_manager:project' project.name %}"><i class="fas fa-external-link-alt"></i></a></td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
			<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal_update_projects">
				Update all projects
			</button>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col">
			<h1>Block workers</h1>
			<p>
				If the blocking function is enabled the following URL will be used to request the block status of a worker:
			</p>
			<p>
				<code>{{ url }}</code>
			</p>
			<p>
				Ensure that this URL is accessible from the outside.
			</p>
			<h2>Change the URL</h2>
			<p>
				You are free to change the URL but the new host has to redirect the incoming request to the following URL:<br>
				<code>{{ url_intern }}</code> 
			</p>
			<p>
				You can change the URL by modifying the <code>URL_BLOCK_WORKERS</code> entry in <code>mturk/mturk/settings.py</code>.
			</p>
			<div class="alert alert-warning" role="alert">
				Please make sure the provided URL supports and is accessed with SSL!
			</div>
		</div>
	</div>
</div>

<div class="modal fade" tabindex="-1" id="modal_update_projects">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Update projects</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<form method="post">
				<div class="modal-body">
					{% csrf_token %}
					This action will migrate all projects to the current version.
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="submit" name="task" value="update_projects" class="btn btn-primary">Update</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="modal fade" tabindex="-1" id="modal_update_account">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Update MTurk account</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<form method="post" enctype="multipart/form-data">
				<div class="modal-body">
					<div class="container-fluid">
						{% csrf_token %}
						<input type="hidden" name="id">
						<div class="form-row form-group">
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text">Name</span>
								</div>
								<input type="text" class="form-control" name="name" maxlength="200">
							</div>
						</div>
						<div class="form-row form-group">
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text">Access key</span>
								</div>
								<input type="text" class="form-control" name="key_access" maxlength="200">
							</div>
						</div>
						<div class="form-row form-group">
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text">Secret key</span>
								</div>
								<input type="text" class="form-control" name="key_secret" maxlength="200">
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="submit" name="task" value="update_account" class="btn btn-primary">Update</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="modal fade" id="modal_add_account" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<form method="post">
				{% csrf_token %}
				<div class="modal-header">
					<h5 class="modal-title">Add account</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label class="col-form-label" for="input_name_account">Name</label>
						<input type="text" name="name" class="form-control" id="input_name_account" placeholder="Name">
					</div>
					<div class="form-group">
						<label class="col-form-label" for="input_key_access">Access key</label>
						<input type="text" name="key_access" class="form-control" id="input_key_access" placeholder="Access key">
					</div>
					<div class="form-group">
						<label class="col-form-label" for="input_key_secret">Secret key</label>
						<input type="text" name="key_secret" class="form-control" id="input_key_secret" placeholder="Secret key">
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="submit" name="task" value="add_account" class="btn btn-primary">Add</button>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}

{% block javascript %}
	{{ block.super }}
	<script src="{% static 'mturk_manager/js/settings.js' %}"></script>
{% endblock %}
