{% extends "mturk_manager/base.html" %}
{% load static %}

{% block name_project %}{{ name_project }}{% endblock %}

{% block body %}
<script src="{% static 'mturk_manager/js/jquery-3.1.1.min.js' %}"></script>
<script src="{% static 'mturk_manager/js/popper.js' %}"></script>
<script src="{% static 'mturk_manager/js/bootstrap.js' %}"></script>
<script src="{% static 'mturk_manager/js/main.js' %}"></script>

<script>
	let glob_id;
	// let dataset;
	let glob_answer;
	let glob_answer_raw;
	let glob_inputs;
	let glob_wrapper;

	function create_inputs(id)
	{
		return `
			<div class="custom-control custom-checkbox d-inline">
				<input type="checkbox" class="custom-control-input" id="checkbox_assignment_`+id+`" name="checkbox_assignment" value="`+id+`">
				<label class="custom-control-label" for="checkbox_assignment_`+id+`"></label>
			</div>
			<button type="submit" name="task" value="button_mturk_approve__`+id+`" class="btn btn-sm btn-success">Approve selected</button>
            <button type="submit" name="task" value="button_mturk_reject__`+id+`" class="btn btn-sm btn-danger">Reject selected</button>
		`
	}

	function decode(input) {
	    var txt = document.createElement("textarea");
	    txt.innerHTML = input;
	    return txt.value;
	}
</script>
<div class="container-fluid" id="page_create">
	<form method="post">
		{% csrf_token %}
		<div class="row mt-2">
			<div class="col">
				<button type="submit" name="task" value="button_mturk_approve_selected" class="btn btn-success">Approve selected</button>
	            <button type="submit" name="task" value="button_mturk_reject_selected" class="btn btn-danger">Reject selected</button>
			</div>
		</div>
		<hr>
		<div class="row">
		{% for hit in queryset_hits %}
			{{ hit.fk_batch.fk_template.fk_template_hit.template|safe }}
			<script>
				var wrapper_assignments = $($('[data-inject_assignments]')[$('[data-inject_assignments]').length - 1]);

				{% for assignment in hit.assignments.all %}
				glob_id = {{ assignment.id }};

				glob_answer_raw = JSON.parse('{{assignment.answer|safe}}');
				glob_answer = JSON.parse('{{assignment.answer_normalized|safe}}');


				assignment_template = $(decode(`{{ hit.fk_batch.fk_template.fk_template_assignment.template }}`));
				// glob_wrapper = $('<span></span>')
				glob_wrapper = assignment_template
				wrapper_assignments.append(glob_wrapper)
				// glob_wrapper.append(assignment_template)
				
				var wrapper_input_forms = $($('[data-inject_input_forms]')[$('[data-inject_input_forms]').length - 1]);
				wrapper_input_forms.html(create_inputs(glob_id))
				{% endfor %}
			</script>
		{% endfor %}
		</div>
		<hr>
		<div class="row">
			<div class="col">
				<button type="submit" name="task" value="button_mturk_approve_selected" class="btn btn-success">Approve selected</button>
	            <button type="submit" name="task" value="button_mturk_reject_selected" class="btn btn-danger">Reject selected</button>
			</div>
		</div>
	</form>
</div>
{% endblock %}	

{% block javascript %}
{% endblock %}	