{% extends "mturk_manager/base.html" %}
{% load static %}

{% block name_project %}{{ name_project }}{% endblock %}

{% block body %}
<script src="{% static 'mturk_manager/js/jquery-3.1.1.min.js' %}"></script>
<script src="{% static 'mturk_manager/js/popper.js' %}"></script>
<script src="{% static 'mturk_manager/js/bootstrap.js' %}"></script>
<script src="{% static 'mturk_manager/js/main.js' %}"></script>

<script>
	let hit_wrapper;
	let question;
	let assignment_wrapper;
	let answer;
	let answer_raw;

	function create_inputs(id, state='submitted')
	{
		let result = `
			<div class="custom-control custom-checkbox d-inline">
				<input type="checkbox" class="custom-control-input" id="checkbox_assignment_PLACEHOLDER_ID" name="checkbox_assignment" value="PLACEHOLDER_ID" PLACEHOLDER_DISABLED>
				<label class="custom-control-label" for="checkbox_assignment_PLACEHOLDER_ID"></label>
			</div>
			<button type="submit" name="task" value="button_mturk_approve__PLACEHOLDER_ID" class="btn btn-sm PLACEHOLDER_SUCCESS" PLACEHOLDER_DISABLED>Approve</button>
            <button type="submit" name="task" value="button_mturk_reject__PLACEHOLDER_ID" class="btn btn-sm PLACEHOLDER_DANGER" PLACEHOLDER_DISABLED>Reject</button>
		`.replace(/PLACEHOLDER_ID/g, id)

		if(state != 'submitted') 
		{
			result = result.replace(/PLACEHOLDER_DISABLED/g, 'disabled')
			if(state == 'approved')
			{
				result = result
				.replace(/PLACEHOLDER_SUCCESS/g, 'btn-success')
				.replace(/PLACEHOLDER_DANGER/g, 'btn-light')
			} else {
				result = result
				.replace(/PLACEHOLDER_SUCCESS/g, 'btn-light')
				.replace(/PLACEHOLDER_DANGER/g, 'btn-danger')
			}
		} else {
			result = result
			.replace(/PLACEHOLDER_SUCCESS/g, 'btn-success')
			.replace(/PLACEHOLDER_DANGER/g, 'btn-danger')
		}
		return result

	}

	function decode(input) {
	    const txt = document.createElement("textarea");
	    txt.innerHTML = input;
	    return txt.value;
	}
</script>
<div class="container-fluid" id="page_view">
	<form method="post">
		{% csrf_token %}
		<div class="row mt-2">
			<div class="col">
				<button type="submit" name="task" value="button_mturk_approve_selected" class="btn btn-success">Approve selected</button>
	            <button type="submit" name="task" value="button_mturk_reject_selected" class="btn btn-danger">Reject selected</button>
			</div>
		</div>
		<hr>
		<div class="row" id="wrapper_hits">
		{% for hit in queryset_hits %}
			<script>
				question = JSON.parse('{{hit.parameters|safe}}');
				
				hit_wrapper = $(decode(`{{ hit.fk_batch.fk_template.fk_template_hit.template }}`));
				$('#wrapper_hits').append(hit_wrapper)

				var wrapper_assignments = $($('[data-inject_assignments]')[$('[data-inject_assignments]').length - 1]);

				{% for assignment in hit.list_assignments %}

				answer_raw = JSON.parse('{{assignment.answer|safe}}');
				answer = JSON.parse('{{assignment.answer_normalized|safe}}');

				assignment_wrapper = $(decode(`{{ hit.fk_batch.fk_template.fk_template_assignment.template }}`));
				wrapper_assignments.append(assignment_wrapper)
				
				var wrapper_input_forms = $($('[data-inject_input_forms]')[$('[data-inject_input_forms]').length - 1]);
				wrapper_input_forms.html(create_inputs({{ assignment.id }}{% if assignment.is_approved %}, 'approved'{% elif assignment.is_rejected %}, 'rejected'{% endif %}))
				{% endfor %}
			</script>
		{% endfor %}
		</div>
		<hr>
		<div class="row">
			<div class="col">
				<button type="submit" name="task" value="button_mturk_approve_selected" class="btn btn-success">Approve selected</button>
	            <button type="submit" name="task" value="button_mturk_reject_selected" class="btn btn-danger">Reject selected</button>
			</div>
		</div>
	</form>
</div>
{% endblock %}	

{% block javascript %}
{% endblock %}	