{% extends "mturk_manager/base.html" %}
{% load static %}

{% block name_project %}{{ name_project }}{% endblock %}

{% block links_project %}
	<a class="nav-item nav-link" href="{% url 'mturk_manager:project' db_obj_project.name %}">Project</a>
	<a class="nav-item nav-link" href="{% url 'viewer:index' db_obj_project.name %}">Assignments</a>
	<a class="nav-item nav-link" href="{% url 'viewer:index' db_obj_project.name|add:'_workers' %}">Workers</a>
{% endblock %}

{% block body %}
<script src="{% static 'mturk_manager/js/jquery-3.1.1.min.js' %}"></script>
<script src="{% static 'mturk_manager/js/popper.js' %}"></script>
<script src="{% static 'mturk_manager/js/bootstrap.js' %}"></script>
<script src="{% static 'mturk_manager/js/main.js' %}"></script>

{{ db_obj_project.fk_template_global_main.template|safe }}

<script>
	let hit_wrapper;
	let question;
	let assignment_wrapper;
	let answer;
	let id_assignment;
	let id_worker;
	let answer_raw;
	const list_messages_reject = [
	{% for message in db_obj_project.messages_reject.all %}
		'{{ message.message }}',
	{% endfor %}
	]

	function create_inputs(id, state='submitted')
	{
		console.log(state);
		let result = `
			<div class="custom-control custom-checkbox d-inline">
				<input type="checkbox" data-kritten_checkbox="checkbox" class="custom-control-input" id="checkbox_assignment_PLACEHOLDER_ID" data-id_assignment="PLACEHOLDER_ID" name="checkbox_assignment" value="PLACEHOLDER_ID" PLACEHOLDER_DISABLED>
				<label class="custom-control-label" for="checkbox_assignment_PLACEHOLDER_ID"></label>
			</div>

			<div class="btn-group btn-group-sm">
				<button type="button" data-id_assignment="PLACEHOLDER_ID" class="btn btn-sm PLACEHOLDER_SUCCESS approve_assignment" PLACEHOLDER_DISABLED>Approve</button>
				<button type="button" data-id_assignment="PLACEHOLDER_ID" class="btn btn-sm PLACEHOLDER_REJECT_INTERNALLY reject_internally_assignment" PLACEHOLDER_DISABLED>Reject internally</button>
			</div>
			
			<div class="btn-group btn-group-sm">
				<div class="btn-group btn-group-sm">
	            	<button type="button" name="task" value="button_mturk_reject__PLACEHOLDER_ID" data-id_assignment="PLACEHOLDER_ID" class="btn PLACEHOLDER_DANGER reject_assignment" PLACEHOLDER_DISABLED>Reject</button>
	            	<button type="button" class="btn PLACEHOLDER_DANGER dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" PLACEHOLDER_DISABLED></button>
					<div class="dropdown-menu dropdown_reject_assignment">
						PLACEHOLDER_MESSAGES_REJECT
					</div>
	            </div>
			
				<div class="btn-group btn-group-sm">
	            	<button type="button" name="task" value="button_mturk_reject__PLACEHOLDER_ID" data-id_assignment="PLACEHOLDER_ID" class="btn PLACEHOLDER_APPROVE_INTERNALLY approve_internally_assignment" PLACEHOLDER_DISABLED>Approve internally</button>
	            	<button type="button" class="btn PLACEHOLDER_APPROVE_INTERNALLY dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" PLACEHOLDER_DISABLED></button>
					<div class="dropdown-menu dropdown_approve_internally_assignment">
						PLACEHOLDER_MESSAGES_REJECT
					</div>
            	</div>
            </div>
		`.replace(/PLACEHOLDER_ID/g, id)

		if(state != 'submitted') 
		{
			result = result.replace(/PLACEHOLDER_DISABLED/g, 'disabled')
			if(state == 'approved')
			{
				result = result
				.replace(/PLACEHOLDER_SUCCESS/g, 'btn-success')
				.replace(/PLACEHOLDER_DANGER/g, 'btn-light')
				.replace(/PLACEHOLDER_APPROVE_INTERNALLY/g, 'btn-light')
				.replace(/PLACEHOLDER_REJECT_INTERNALLY/g, 'btn-light')
			} else if(state == 'rejected') {
				result = result
				.replace(/PLACEHOLDER_SUCCESS/g, 'btn-light')
				.replace(/PLACEHOLDER_DANGER/g, 'btn-danger')
				.replace(/PLACEHOLDER_APPROVE_INTERNALLY/g, 'btn-light')
				.replace(/PLACEHOLDER_REJECT_INTERNALLY/g, 'btn-light')
			} else if(state == 'rejected_externally') {
				result = result
				.replace(/PLACEHOLDER_APPROVE_INTERNALLY/g, 'btn-warning')
				.replace(/PLACEHOLDER_REJECT_INTERNALLY/g, 'btn-light')
				.replace(/PLACEHOLDER_SUCCESS/g, 'btn-light')
				.replace(/PLACEHOLDER_DANGER/g, 'btn-light')
			} else if(state == 'approved_externally') {
				result = result
				.replace(/PLACEHOLDER_SUCCESS/g, 'btn-light')
				.replace(/PLACEHOLDER_DANGER/g, 'btn-light')
				.replace(/PLACEHOLDER_APPROVE_INTERNALLY/g, 'btn-light')
				.replace(/PLACEHOLDER_REJECT_INTERNALLY/g, 'btn-warning')
			}
		} else {
			result = result
			.replace(/PLACEHOLDER_SUCCESS/g, 'btn-success')
			.replace(/PLACEHOLDER_REJECT_INTERNALLY/g, 'btn-warning')
			.replace(/PLACEHOLDER_APPROVE_INTERNALLY/g, 'btn-warning')
			.replace(/PLACEHOLDER_DANGER/g, 'btn-danger')
		}

		messages_reject = '';
		$.each(list_messages_reject, function(index, message) {
			messages_reject += '<a class="dropdown-item" data-id_assignment="'+id+'" href="#">'+message+'</a>'
		});
		result = result.replace(/PLACEHOLDER_MESSAGES_REJECT/g, messages_reject);

		return result
	}

	function decode(input) {
	    const txt = document.createElement("textarea");
	    txt.innerHTML = input;
	    return txt.value;
	}
</script>
<div class="container-fluid" id="page_view">
	<div class="row">
		<div class="col-12">
	<form method="post">
		{% csrf_token %}
		<div class="row my-3">
			<div class="col">
				<button type="button" data-task="submit_annotations" class="btn btn-primary">Submit</button>
				<span data-inject_count_approved_assignments>0</span> Approvements,
				<span data-inject_count_rejected_assignments>0</span> Rejectments,
				<span data-inject_count_rejected_internally_assignments>0</span> Internal rejectments and
				<span data-inject_count_approved_internally_assignments>0</span> Internal approvements
			</div>
		</div>
		<div class="row">
			<div class="col-auto wrapper_buttons_selected">
				<div class="custom-control custom-checkbox d-inline">
					<input type="checkbox" data-kritten_checkbox_main="checkbox" class="custom-control-input" id="checkbox_assignments_main0">
					<label class="custom-control-label" for="checkbox_assignments_main0"></label>
				</div>
				<span data-inject_count_assignments_selected>0</span> Assignments selected
				<div class="btn-group btn-group-sm">
					<button type="button" name="task" data-task="button_mturk_approve_selected" class="btn btn-success" disabled>Approve</button>
	            	<button type="button" name="task" data-task="button_mturk_reject_internally_selected" class="btn btn-warning" disabled>Reject internally</button>
	            </div>
				<div class="btn-group btn-group-sm">
					<div class="btn-group btn-group-sm">
		            	<button type="button" name="task" data-task="button_mturk_reject_selected" class="btn btn-danger" disabled>Reject</button>
						<button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" disabled></button>
						<div class="dropdown-menu dropdown_reject_assignment_selected">
						{% for message in db_obj_project.messages_reject.all %}
							<a class="dropdown-item" href="#">{{ message.message }}</a>
						{% endfor %}
						</div>
					</div>
					<div class="btn-group btn-group-sm">
		            	<button type="button" name="task" data-task="button_mturk_approve_internally_selected" class="btn btn-warning" disabled>Approve internally</button>
						<button type="button" class="btn btn-warning dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" disabled></button>
						<div class="dropdown-menu dropdown_approve_internally_selected">
						{% for message in db_obj_project.messages_reject.all %}
							<a class="dropdown-item" href="#">{{ message.message }}</a>
						{% endfor %}
						</div>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="input-group input-group-sm">
					<div class="input-group-prepend">
						<label class="input-group-text" for="input_message_reject_default">Default reject message</label>
						<button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"></button>
						<div class="dropdown-menu" id="dropdown_message_reject_default">
						{% for message in db_obj_project.messages_reject.all %}
							<a class="dropdown-item" href="#">{{ message.message }}</a>
						{% endfor %}
						</div>
					</div>
					<input type="text" id="input_message_reject_default" value="{{ db_obj_project.fk_message_reject_default.message }}" class="form-control" required>
					<div class="invalid-feedback">
				        Please provide a valid default reject message!
			      </div>
				</div>
			</div>
		</div>
		<hr>
		<div class="row" id="wrapper_hits">
		{% for hit in queryset_hits %}
			<script>
				question = JSON.parse('{{hit.parameters|safe}}');
				
				hit_wrapper = $(decode(`{{ hit.fk_batch.fk_template.fk_template_hit.template }}`));
				$('#wrapper_hits').append(hit_wrapper)

				var wrapper_assignments = $($('[data-inject_assignments]')[$('[data-inject_assignments]').length - 1]);

				{% for assignment in hit.list_assignments %}

				answer_raw = {{ assignment.answer|safe }};
				answer = {{ assignment.answer_normalized|safe }};
				id_assignment = "{{ assignment.id_assignment }}";
				id_worker = "{{ assignment.fk_worker.name }}";

				assignment_wrapper = $(decode(`{{ hit.fk_batch.fk_template.fk_template_assignment.template|escapejs }}`));
				wrapper_assignments.append(assignment_wrapper)
				
				var wrapper_input_forms = $($('[data-inject_input_forms]')[$('[data-inject_input_forms]').length - 1]);
				wrapper_input_forms.html(create_inputs({{ assignment.id }}, '{{assignment.state}}'))
				{% endfor %}
			</script>
		{% endfor %}
		</div>
		<hr>
		<div class="row">
			<div class="col wrapper_buttons_selected">
				<div class="custom-control custom-checkbox d-inline">
					<input type="checkbox" data-kritten_checkbox="checkbox" class="custom-control-input" id="checkbox_assignments_main1">
					<label class="custom-control-label" for="checkbox_assignments_main1"></label>
				</div>
				<span data-inject_count_assignments_selected>0</span> Assignments selected
				<div class="btn-group btn-group-sm">
					<button type="button" name="task" data-task="button_mturk_approve_selected" class="btn btn-success" disabled>Approve</button>
	            	<button type="button" name="task" data-task="button_mturk_reject_internally_selected" class="btn btn-warning" disabled>Reject internally</button>
	            </div>
				<div class="btn-group btn-group-sm">
					<div class="btn-group btn-group-sm">
		            	<button type="button" name="task" data-task="button_mturk_reject_selected" class="btn btn-danger" disabled>Reject</button>
						<button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" disabled></button>
						<div class="dropdown-menu dropdown_reject_assignment_selected">
						{% for message in db_obj_project.messages_reject.all %}
							<a class="dropdown-item" href="#">{{ message.message }}</a>
						{% endfor %}
						</div>
					</div>
					<div class="btn-group btn-group-sm">
		            	<button type="button" name="task" data-task="button_mturk_approve_internally_selected" class="btn btn-warning" disabled>Approve internally</button>
						<button type="button" class="btn btn-warning dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" disabled></button>
						<div class="dropdown-menu dropdown_approve_internally_selected">
						{% for message in db_obj_project.messages_reject.all %}
							<a class="dropdown-item" href="#">{{ message.message }}</a>
						{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row my-3">
			<div class="col">
				<button type="button" data-task="submit_annotations" class="btn btn-primary">Submit</button>
				<span data-inject_count_approved_assignments>0</span> Approvements,
				<span data-inject_count_rejected_assignments>0</span> Rejectments,
				<span data-inject_count_rejected_internally_assignments>0</span> Internal rejectments and
				<span data-inject_count_approved_internally_assignments>0</span> Internal approvements
			</div>
		</div>
	</form>
		</div>
		<div class="col">
			<pre></pre>
		</div>
	</div>
</div>
{% endblock %}	

{% block javascript %}
	<script src="{% static 'mturk_manager/js/view.js' %}"></script>
	<script src="{% static 'mturk_manager/js/kritten_checkbox.min.js' %}"></script>
{% endblock %}	