frontend/node_modules
frontend/dist
mturk/.cache
mturk_settings.ini
.directory

.env

venv
misc
__pycache__
mturk/thesis
*.csv
#migrations
cache
.cache

#comment the following lines out to add the dynamic content to the version control
db.sqlite3
settings
.idea
/mturk/mturk_manager/static/mturk_manager/js/dist/report.html
/mturk/yarn-error.log
/mturk.sublime-workspace
/mturk/mturk_manager/static/mturk_manager/js/dist/index_annotate.map
