mturk/node_modules
mturk/.cache
mturk_settings.ini
.directory

venv
__pycache__
mturk/thesis
*.csv
#migrations
cache

#comment the following lines out to add the dynamic content to the version control
db.sqlite3
settings
.idea
/mturk/mturk_manager/static/mturk_manager/js/dist/report.html
