django==3.0.8
uwsgi==2.0.19.1
boto3==1.14.20
psycopg2==2.8.6
django-environ==0.4.5
xmltodict
djangorestframework
markdown
django-cors-headers
celery==4.4.6
django-celery-results==1.2.1
django-celery-beat==2.0.0
flower
graphene-django==2.11.1
