.pointer {
    cursor: pointer;
}
.pointer-underline {
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}

.roboto-mono {
    font-family: 'Roboto Mono', monospace;
}

.v-data-table {
    &.theme--dark {
        table thead th { border-top: 1px solid rgba(255, 255, 255, 0.12); }
        table th + th { border-left:1px solid rgba(255, 255, 255, 0.12); }
        table td + td { border-left: 1px solid rgba(255, 255, 255, 0.12); }
    }
    &.theme--light {
        //table td + td { border-left: 1px solid rgba(0, 0, 0, 0.3); }
        table td + td { border-left: 1px solid rgba(0, 0, 0, 0.12); }
    }

    .v-data-footer {
        .v-data-footer__select {
            .v-input {
                margin-top: 0;
                margin-bottom: 0;

                .v-input__control .v-input__slot:before {
                    display: none;
                }
            }
        }

        .v-data-footer__icons-before, .v-data-footer__icons-after {
            button {
                height: 36px;
            }
        }
    }
}

.breadcrumbs {
    & a {
        color: white !important;
    }
}
