html {
	/*overflow-y: scroll*/
}

#page_index .col.d-flex {
	height: 100vh;
}

@media (min-width: 1850px) {
	.modal-xxl {
		max-width: 1800px;
	}
}

.formats_scrollspy {
    position: fixed;
}
.formats_scrollspy a.active {
    font-weight: bold;
}
.formats_scrollspy ul {
    margin-left: 1em;
    font-size: 0.9em;
}