html {
	/*overflow-y: scroll*/
}

/*body {
  display: none;
}

.fontawesome-i2svg-active body {
  display: initial;
}*/

#page_index .col.d-flex {
	height: 100vh;
}

@media (min-width: 1850px) {
	.modal-xxl {
		max-width: 1800px;
	}
}

.formats_scrollspy {
    position: fixed;
}
.formats_scrollspy a.active {
    font-weight: bold;
}
.formats_scrollspy ul {
    margin-left: 1em;
    font-size: 0.9em;
}

[data-type="info"] {
	cursor: pointer;
	outline: none;
	opacity: 0.5;
}

.popover {
	max-width: 50rem;
}

.custom_file_sm .input-group-text {
	height: calc(1.8125rem + 2px);
}

.custom_file_sm label {
	height: calc(1.8125rem + 2px);
}
.custom_file_sm label::after {
	height: calc(1.8125rem);
	padding:0.25rem 0.5rem;
	border-radius: 0 0.2rem 0.2rem 0;
    font-size: .875rem;
}