{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}" />{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}


{% block content %}
	{% if app_list %}
	{% with accounts_mturk=app_list.0.models.0 %}
		<a href="{{ accounts_mturk.admin_url }}"><h2>MTurk credentials</h2></a>
	{% endwith %}

	<hr>

	{% with projects=app_list.0.models.1 %}
		<a href="{{ projects.admin_url }}"><h2>Projects</h2></a>
	{% endwith %}

	<hr>
	
	<h2>Block workers</h2>
	<p>
		If the blocking function is enabled the following URL will be used to request the block status of a worker:
	</p>
	<p>
		<code>{{ url }}</code>
	</p>
	<p>
		Ensure that this URL is accessible from the outside.
	</p>
	<h2>Change the URL</h2>
	<p>
		You are free to change the URL but the new host has to redirect the incoming request to the following URL:<br>
		<code>{{ url_intern }}</code> 
	</p>
	<p>
		You can change the URL by modifying the <code>URL_BLOCK_WORKERS</code> entry in <code>mturk/mturk/settings.py</code>.
	</p>
	<div style="color: red">
		Please make sure the provided URL supports and is accessed with SSL!
	</div>
	   <!--  {% for app in app_list %}
	        <div class="app-{{ app.app_label }} module">
	        <table>
	        <caption>
	            <a href="{{ app.app_url }}" class="section" title="{% blocktrans with name=app.name %}Models in the {{ name }} application{% endblocktrans %}">{{ app.name }}</a>
	        </caption>
	        {% for model in app.models %}
	            <tr class="model-{{ model.object_name|lower }}">
	            {% if model.admin_url %}
	                <th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>
	            {% else %}
	                <th scope="row">{{ model.name }}</th>
	            {% endif %}

	            {% if model.add_url %}
	                <td><a href="{{ model.add_url }}" class="addlink">{% trans 'Add' %}</a></td>
	            {% else %}
	                <td>&nbsp;</td>
	            {% endif %}

	            {% if model.admin_url %}
	                <td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>
	            {% else %}
	                <td>&nbsp;</td>
	            {% endif %}
	            </tr>
	        {% endfor %}
	        </table>
	        </div>
	    {% endfor %} -->
	{% else %}
	    <p>{% trans "You don't have permission to edit anything." %}</p>
	{% endif %}
{% endblock %}
